body{
    background-color: black;
}
input{
    border-radius: 5px;
    border-color: #E5E7EB;
}
input:focus{
    box-shadow: 3px 3px blue;
}
form{
    background-color: white;
    margin: 0px 100px 0px 100px;
    display: flex;
    flex-direction: row;
}
.leftPhoto{
    display: flex;
    flex-direction: column;
    position: relative;
}
#splash{
    position: relative;
    top: 0;
    left: 0;
    width: 400px;
    height: 625px;
}
#logo{
    position: absolute;
    top: 100;
    left: 5;
    width: 75px;
    height: auto;
    margin: 125px;
}
#background{
    background-color: black;
    opacity: 50%;
    position: absolute;
    top: 100px;
    width: 400px;
    Height: 150px;
}
#background p{
    color: white;
    left: 225px;
    position: absolute;
    font-size: 50px;
}
#photoCred{
    font-size: 12px;
    color: white;
    position: absolute;
    margin-top: 575px;
    margin-left: 100px;
}
.container{
    justify-content: center;
}
.rightForm{
    border-style: solid;
    border-radius: 5px;
    background-color: beige;
}
.leftInput, .rightInput{
    display: flex;
    flex-direction: column;
    width: 250px;
    padding: 50px;
}
.leftInput input, .rightInput input{
    margin-bottom: 25px;
}
.formInputs{
    display: flex;
    flex-direction: row;
}
#createAccount{
    width: 150px;
    height: 50px;
    margin-left: 50px;
    margin-top: 25px;
    background-color: #596D48;
}