body{
    background-color: black;
}
form{
    background-color: white;
    margin: 0px 100px 0px 100px;
    display: flex;
    flex-direction: row;
}
.leftPhoto{
    display: flex;
    flex-direction: column;
    position: relative;
}
#splash{
    position: relative;
    top: 0;
    left: 0;
}
#logo{
    position: absolute;
    top: 100;
    left: 20;
    width: 150px;
    height: auto;
    margin: 125px;
}
#photoCred{
    font-size: 12px;
    color: white;
    position: absolute;
    margin-top: 575px;
    margin-left: 100px;
}
.container{
    justify-content: center;
}
.rightForm{
    border-style: solid;
    border-radius: 5px;
    background-color: beige;
}
.leftInput, .rightInput{
    display: flex;
    flex-direction: column;
    width: 200px;
    padding: 50px;
}
.leftInput input, .rightInput input{
    margin-bottom: 25px;
}

#splash{
    width: 400px;
    height: 600px;
}
.formInputs{
    display: flex;
    flex-direction: row;
}
#createAccount{
    width: 150px;
    height: 50px;
    margin-left: 50px;
    margin-top: 25px;
}